<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<springProperty name="serviceName" source="spring.application.name" defaultValue="unknown"/>
	<springProperty name="logstashDestination" source="mybank.logging.logstash.destination" defaultValue=""/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<if condition='!property("logstashDestination").isEmpty()'>
		<then>
			<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
				<destination>${logstashDestination}</destination>
				<encoder class="net.logstash.logback.encoder.LogstashEncoder">
					<customFields>{"service":"${serviceName}"}</customFields>
				</encoder>
			</appender>
			<root>
				<appender-ref ref="LOGSTASH"/>
			</root>
		</then>
	</if>
</configuration>
